
<head>
    <link href="../../Styles/About.css" rel="stylesheet" />
</head>
<div ng-controller="aboutController as aboutControllerVM">


    <div class="BGImg AboutHead">
        <div class="AboutTitle">
            Our
            <h1>Place</h1>
        </div>
    </div>

    <div class="section row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="Title">Our Place<i>Ice cream by the sea!</i></div>
            <span class="Text">
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
                <br />
                <br />
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.
            </span>
           
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="BGImg pAbout">

    </div>
</div>